# local
NEXT_PUBLIC_BASE_URL=http://localhost:5000
NEXT_PUBLIC_PROTOCOL=http
NEXT_PUBLIC_HOSTNAME=localhost
PORT=3000
NODE_ENV=development

#prod
# NEXT_PUBLIC_BASE_URL=
# NEXT_PUBLIC_PROTOCOL=
# NEXT_PUBLIC_HOSTNAME=
# PORT=3000
# NODE_ENV=production
